* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header h1 {
  text-align: center;
  font-weight: 400;
  font-family: "xPlaywrite CZ", sans-serif;
  margin-top: 70px;
}
.header p {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  color: #555555;
  margin-top: 10px;
}
.highlight {
  background-color: black;
  color: white;
}

.content {
  width: 75%;
  margin: 70px auto;
  /* overflow: hidden; */
}
.Blog-card h2 {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding-left: 20px;
  padding-top: 5px;
}
.Blog-card h5 {
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 8px;
}
.Edith {
  font-size: 20px;
  color: darkgrey;
  font-style: inherit;
}
.Blog-card {
  border: 1px solid whitesmoke;
  border-radius: 5px 2px 10px 2px;
  border-left: 200px;
  box-shadow: 0px 0px 20px 4px rgb(189, 187, 187);
  width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
}
.Blog-card p {
  text-align: justify;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  padding: 20px;
  max-width: 880px;
  font-weight: 400;
}
.Blog-card input[type="button"] {
  margin: 15px;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 5%;
  background-color: rgb(245, 244, 244);
  padding: 15px;
  font-size: 14px;
  color: black;
  font-weight: 550;
}
.Blog-card input[type="button"]:hover {
  background-color: lightgray;
  cursor: pointer;
}
.edithComment {
  font-weight: normal;
  color: darkgoldenrod;
}
.Onemore {
  background-color: black;
  font-weight: normal;
  color: aliceblue;
  padding: 2px 6px;
}
.editComments {
  padding: 30px 40px;
  float: right;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
}
/* .project {
    border: 1px solid black;
    width:fit-content;
    height: fit-content;
    border-style: hidden;
    box-shadow: 2px 2px 9px 5px rgba(187, 184, 184, 0.5)
} */
/* .project h2 {
    padding-top: 5px;
    padding-left: 15px;
} */
/* .project h4 {
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
} */
/* .project p { 
    text-align: justify;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    padding: 15px;
    max-width: 900px;
    font-weight: 400;
} */
/* .project input[type="button"] {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    padding: 15px;
    font-size: 15px;
    color: black;
    font-weight: 500;
} */
/* .project input[type="button"]:hover {
    cursor: pointer;
    background-color: lightgray;
    transform: rotate(50deg);
} */
.Ruhit {
  float: right;
  padding-right: 20px;
  margin-top: -71px;
}
.Nothing {
  background-color: #000;
  color: white;
  /* display: inline-block; */
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 50%;
}
.newP {
  font-weight: bold;
}
.Figure {
  float: inline-end;
  border: 1px solid black;
  border-style: hidden;
  box-shadow: 0px 0px 16px 5px rgba(156, 155, 155, 0.4);
  width: fit-content;
  height: fit-content;
  margin-right: 215px;
  margin-top: 71px;
}
.Figure p {
  text-align: justify;
  max-width: 430px;
  padding: 12px;
  font-weight: 100;
  font-size: 18px;
  font-family: "Crimson Text", serif;
  padding-left: 20px;
}
.Figure h3 {
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 450;
}
.Flex {
  float: inline-end;
  border: 1px solid black;
  margin-top: -120px;
  margin-right: -25px;
  /* margin-left: 350px; */
  width: 450px;
  border-style: hidden;
  box-shadow: 0px 0px 19px 5px rgba(182, 181, 181, 0.5);
}
.Flex h2 {
  border-bottom: 1px solid gray;
  border-style: hidden;
  /* margin-top: 0; */
  height: 65px;
  padding-top: 20px;
  padding-left: 15px;
  background-color: rgb(233, 232, 232);
  font-weight: 100;
}
.first-point {
  padding-top: 20px;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.first-point img {
  transform: translateY(-6px);
  padding-left: 15px;
}
.first-letter {
  display: inline-block;
  transform: translate(10px, -16px);
  line-height: 28px;
}
.first-letter::first-line {
  font-size: 20px;
  font-weight: lighter;
}
.second-point {
  padding-top: 5px;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.second-point img {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 4px;
}
.second-letter {
  display: inline-block;
  transform: translate(10px, -12px);
  line-height: 30px;
}
.second-letter::first-line {
  font-size: 20px;
}
.third-point {
  border-bottom: 1px solid rgb(207, 207, 207);
}
.third-point img {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
}
.third-letter {
  display: inline-block;
  transform: translate(10px, -12px);
  line-height: 30px;
}
.third-letter::first-line {
  font-size: 20px;
  font-weight: 200;
}
.fourth-point {
  border-bottom: 1px solid rgb(207, 207, 207);
}
.fourth-point img {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
}
.fourth-letter {
  display: inline-block;
  transform: translate(10px, -12px);
  line-height: 30px;
}
.fourth-letter::first-line {
  font-size: 20px;
  font-weight: 200;
}
.first-point:hover {
  cursor: pointer;
  background-color: lightgray;
}
.tags {
  border: 1px solid black;
  width: 440px;
  border-style: hidden;
  box-shadow: 0px 0px 16px 5px rgba(184, 182, 182, 0.5);
  height: 200px;
  float: inline-end;
  margin-top: -320px;
  margin-right: 220px;
}
.main-tag {
  border-bottom: 1px solid black;
  padding-left: 15px;
  border-style: hidden;
  display: block;
  padding-top: 15px;
  font-size: 20px;
  padding-bottom: 20px;
  background-color: gainsboro;
}
.all-tags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 16px;
  gap: 10px;
}
.tag1 {
  border: 1px solid black;
  padding: 5px;
  font-weight: 100;
  color: white;
  background-color: black;
  font-size: 15px;
}
.tag {
  padding: 5px;
  background-color: lightgrey;
  /* border: 1px solid black; */
}
.tags .active {
  background-color: black;
  color: white;
}
.footer {
  border: 1px solid black;
  height: 200px;
  padding: 50px;
  background-color: #555555;
}
.previos {
  border: 1px solid black;
  padding: 15px;
  background-color: darkgray;
}
.previos:hover {
  cursor: not-allowed;
}
.next {
  border: 1px solid black;
  padding: 15px;
  background-color: #000;
  color: white;
}
.next:hover {
  cursor: pointer;
  background-color: rgb(189, 194, 194);
}
.Edith {
  color: rgb(196, 197, 197);
  font-size: 20px;
}
.read-more-button {
  padding: 15px 14px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgb(207, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 550;
}
.read-more-button svg {
  height: 16px;
  padding-top: 4px;
}
.read-more-button:hover {
  background-color: #d8d7d7;
  cursor: pointer;
  /* border: transparent; */
}
.first-content h4 {
  padding-left: 18px;
  padding-top: 5px;
}
/* .first-content .second-store{
    transform: translateY(-50px);
    display: inline-block;
} */
.first-content h4 {
  font-weight: 450;
}
