/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.header {
  text-align: center;
}
.header .highlight {
  background-color: black;
  color: white;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.blogs-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popular-items {
  display: flex;
  flex-direction: column;
  /* gap: 0px; */
  border: 1px solid black;
}

.item {
  display: grid;
  grid-template-columns: 100px auto;
  border-top: 1px solid gray;
}
.item .img-container {
  display: grid;
  place-items: center;
  overflow: hidden;
}
.item .img-container img {
  height: 60px;
  width: auto;
}

/* ruhit css */

/* write your css code here */
/* div {
  border: 1px solid blue;
  margin: 5px;
} */

.author-card {
  border: 1px solid black;
}
.author-card .name {
  padding-left: 10px;
}

.popular-items h2 {
  font-weight: 300;
  padding-left: 15px;
}
.popular-items .heading {
  font-weight: 400;
  margin-left: -15px;
  /* margin-top: 7px; */
}
.popular-items .description {
  line-height: 0.1;
}
.tags {
  border: 1px solid black;
  /* height: 200px; */
  border-style: hidden;
  box-shadow: 0px 0px 6px 5px rgb(247, 245, 245);
}
.tags .heading {
  border-bottom: 1px solid gray;
  border-color: transparent;
  display: block;
  height: 45px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 22px;
  background-color: rgb(202, 201, 201);
}
.all-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 16px;
  padding-left: 20px;
  list-style-type: none;
}
.tag {
  background-color: rgb(238, 236, 236);
  padding: 5px 5px 3px 5px;
  font-size: 14px;
  /* font-weight: 500; */
}
.active {
  background-color: black;
  color: white;
  font-size: 18px;
  /* padding: 5px; */
}
.comments-count {
  margin-left: 580px;
  margin-bottom: 12px;
  font-size: larger;
}
.count {
  background-color: black;
  color: whitesmoke;
  padding: 0px 8px 2px 8px;
  font-size: 20px;
}
.read-more-button {
  border: 1px solid black;
  padding: 15px;
  font-size: 15px;
  font-weight: 100px;
  margin-top: 15px;
  margin-bottom: -200px;
}
svg {
  width: 10px;
  height: 10px;
}
