* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.header h4 {
  font-size: 36px;
  font-weight: 550;
}

.header p {
  padding-top: 20px;
  font-size: 15px;
}

.header .highlight {
  background-color: black;
  color: white;
  padding: 3px 8px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  max-width: 1200px;
  margin-left: 260px;
  margin-right: auto;
}

.blogs-section {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.blog-card {
  border: 1px solid black;
  /* padding: 15px; */
  border-radius: 5px;
  height: 555px;
  background-color: white;
  border-style: hidden;
  box-shadow: 0px 0px 10px 6px rgb(196, 195, 195);
}

.blogs-section .blog-card img {
  width: 900px;
}

.blog-card .title {
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 600;
}

.blog-card .description {
  margin-top: 15px;
  margin-left: 16px;
  font-size: 19px;
  font-weight: 400;
}

.blog-card .description .date {
  color: #9c9999;
}

.blog-card p {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5;
  font-size: 15px;
}
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.popular-items {
  display: flex;
  flex-direction: column;
  /* gap: 0px; */
  border: 1px solid black;
  border-style: hidden;
  box-shadow: 0px 0px 10px 5px rgb(221, 221, 221);
  border-radius: 2%;
}

.popular-items .item {
  display: grid;
  grid-template-columns: 70px auto;
  border-top: 1px solid #ddd;
  padding: 2px 1px;
}

.popular-items .item .img-container {
  /* display: grid;
  place-items: center; */
  padding: 13px;
  overflow: hidden;
}

.popular-items .item .img-container img {
  height: 50px;
  width: auto;
}

.popular-items .item .info {
  padding: 10px;
}

.popular-items .item:hover {
  cursor: pointer;
  background-color: #e4e1e1;
  animation: 1s ruhit alternate infinite;
}

/* ruhit css */

/* write your css code here */
/* div {
  border: 1px solid blue;
  margin: 5px;
} */

.author-card {
  border: 1px solid black;
  height: 440px;
  background-color: white;
  border-style: hidden;
  box-shadow: 0px 0px 10px 5px rgb(221, 221, 221);
  border-radius: 2%;
}

.author-card .name {
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 22px;
}

.bio {
  /* font-size: 19px; */
  line-height: 1.5;
  padding: 15px;
}

.popular-items {
  background-color: rgb(248, 246, 246);
}

.popular-items .section-header {
  padding: 20px;
}

.popular-items h2 {
  font-weight: 400;
}

.popular-items .heading {
  font-weight: 400;
  font-size: 20px;
}

.popular-items .item {
  background-color: white;
}

.popular-items .item .description {
  margin-top: 5px;
}

.tags {
  border: 1px solid black;
  border-style: hidden;
  box-shadow: 0px 0px 10px 5px rgb(230, 228, 228);
  height: 210px;
  background-color: white;
  border-radius: 2%;
}

.tags .heading {
  border-bottom: 1px solid gray;
  border-color: transparent;
  display: block;
  height: 65px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 22px;
  background-color: rgb(235, 232, 232);
}

.all-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 20px;
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

.tag {
  background-color: rgb(240, 240, 240);
  padding: 5px 5px 3px 5px;
  font-size: 12px;
  /* font-weight: 500; */
}

.active {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.blogs-section .blog-card .comments-count {
  margin-left: 740px;
  margin-top: -30px;
  font-size: 16px;
  font-weight: 650;
}

.count {
  background-color: black;
  color: whitesmoke;
  padding: 1px 8px 3px 8px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

.Count {
  background-color: black;
  color: whitesmoke;
  padding: 1px 8px 3px 8px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
.read-more-button {
  border: 1px solid lightgray;
  padding: 13px 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 25px;
  background-color: white;
}

svg {
  width: 6px;
  height: 9px;
  transform: scale(2.5);
}

.read-more-button:hover {
  background-color: #ddd;
  cursor: pointer;
}
.footer {
  background-color: rgb(87, 85, 85);
  border: 1px solid rgb(97, 95, 95);
  height: 200px;
  margin-top: 50px;
  padding: 40px 13px;
}

.footer .previos {
  background-color: rgb(68, 67, 67);
  color: rgb(168, 166, 166);
  padding: 14px 24px;
}

.footer .previos:hover {
  cursor: not-allowed;
  background-color: #7e7d7d;
  color: rgb(83, 82, 82);
}

.next {
  background-color: black;
  color: white;
  padding: 14px 20px;
  font-size: 15px;
}

.next .last {
  font-size: 12px;
}

.next:hover {
  background-color: rgb(190, 190, 190);
  color: black;
  cursor: pointer;
}

/* Jab screen 600px se chhoti ho (Mobile) */
@media screen and(max-width: 600px) {
  .container {
    width: 100%; /* Fixed width ki jagah 100% use karein */
    padding: 10px;
  }
}
